<!DOCTYPE html>

<html>

<head>

    <title>
        Pagina principal
    </title>

    <style>
        .estilo {
            background-image: url(https://images.pexels.com/photos/1933180/pexels-photo-1933180.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
        }

       
    </style>

</head>


<body class="estilo">
    <h1>hola como estas hablamos ahora......</h1>
</body>

</html>
